.home input {
    background-color: var(--boxColor);
    padding: 12px var(--paddingHorizontal);
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    outline: none;
}

.home>h1 {
    background-color: var(--highlightText);
    color: var(--textColor);
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    padding: 12px var(--paddingHorizontal);
    border-radius: 5px;
}

.home button {
    color: white;
    background-color: var(--highlightText);
    padding: 12px var(--paddingHorizontal);
    border-radius: 5px;
    font-weight: 800;
    border: 1px solid var(--whiteBorder);
}