.home input {
    /* background-color: var(--boxColor); */
    padding: 12px var(--paddingHorizontal);
    border-radius: 5px;
    /* border: 2px solid white; */
    color: white;
    outline: none;
}

.home>h1 {
    /* background-color: var(--highlightText); */
    /* color: var(--textColor); */
    color: rgba(255, 255, 255, 0.8);
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    padding: 12px var(--paddingHorizontal);
    border-radius: 5px;
}

.home button {
    color: white;
    background: rgba(255, 255, 255, 0.05);
    padding: 12px var(--paddingHorizontal);
    border-radius: 5px;
    font-weight: 800;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.home button:hover {
    background-color: dodgerblue;
}

.home .flex-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}