.home {
    /* background: url('../../hero.jpg') repeat center center; */
    /* background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); */
    background-color: #0093E9;
    background-image: linear-gradient(0deg, #0093E9 0%, #80D0C7 100%);
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #69c3ff 0%, #646ae1 100%);
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #526be7 0%, #cf62c7 46%, #FFCC70 100%);


    background-attachment: fixed;

}

.home input {
    /* background-color: var(--boxColor); */
    padding: 12px var(--paddingHorizontal);
    border-radius: 5px;
    /* border: 2px solid white; */
    color: white;
    outline: none;
}

.home>h1 {
    /* background-color: var(--highlightText); */
    /* color: var(--textColor); */
    color: rgba(255, 255, 255, 0.8);
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    padding: 12px var(--paddingHorizontal);
    border-radius: 5px;
}

.home button {
    color: white;
    background: rgba(255, 255, 255, 0.05);
    padding: 12px var(--paddingHorizontal);
    border-radius: 5px;
    font-weight: 800;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* .home button:hover {
    background-color: dodgerblue;
} */


.home .flex-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}