:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  font-weight: 400;
  background-color: hsla(222, 47%, 11%, 1);
  background-color: hsla(222, 47%, 11%, 1);
  background-image:
    radial-gradient(at 19% 55%, hsla(222, 47%, 11%, 1) 0px, transparent 50%),
    radial-gradient(at 75% 40%, hsla(222, 47%, 11%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(218, 51%, 21%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(218, 51%, 21%, 1) 0px, transparent 50%);
  background-size: cover;
  background-attachment: fixed;
  /* background: linear-gradient(to bottom, var(--topColor), var(--bottomColor)); */
  height: 100%;
  --topColor: #1a2e52;
  --bottomColor: #0f172a;
  --boxColor: #1e293b;
  --highlightText: #283b4f;
  --textColor: #78c9f1;
  --paddingHorizontal: 28px;
  --whiteBorder: #aaa;
  --cardWidth: 300px;
}