@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  background: linear-gradient(90deg, #000, #12012e);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  --primaryColor: #262a33;
  --topColor: #1a2e52;
  --bottomColor: #0f172a;
  --boxColor: #1e293b;
  --highlightText: rgba(255, 255, 255, 0.05);
  --textColor: #78c9f1;
  --paddingHorizontal: 28px;
  --whiteBorder: #aaa;
  --cardWidth: 300px;
}

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter Tight', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0, 0%, 100%, 1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.text-gradient__gray {
  padding-right: 0.05em;
  /* background-image: linear-gradient(207deg, #fff 23%, rgb(85, 85, 85) 87%); */
  background-image: linear-gradient(271.72deg, #62ffb3 7.09%, #81bcff 96.61%);
  /* background-color: #8BC6EC;
  background-image: linear-gradient(-135deg, #8BC6EC 0%, #9498e2 100%); */

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}